.titlePassword {
  font-size: 20px;
  color: #e0afa0;
  font-weight: 600;
  align-self: center;
  margin-bottom: 30px;
}

.password label {
  width: 300px;
  text-align: center;
}


.modal {
  display: none;
}

.target {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.92);
  z-index: 99999;
  opacity:1;
  /* -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in; */
  /* pointer-events: none; */
}

.target h1 {
  width: 20em;
}