@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* 
$font-title:'Righteous', cursive
$font-text:'Roboto', sans-serif
$color1: #e0afa0
$color2: #f4f3ee
$color3: #bcb8b1
$color4: #8a817c
$color5: #463f3a
$color6: #312c29 */

.App {
  margin: 0px;
  padding: 0px;
  background-color: #312c29;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  color: #f4f3ee;
  font-weight: bold;
  font-size: 40px;
  font-family: "Righteous", cursive;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

label {
  color: #f4f3ee;
  font-size: 15px;
  align-self: flex-start;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

p {
  color: #e0afa0;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 400;
  margin: 2px;
}
p:hover {
  text-decoration: underline;
  transition: 0.2s;
}

h1 {
  font-size: 18px;
  color: #f4f3ee;
}
